<%- include("../../partials/header.ejs") %>
<%- include("../../partials/nav.ejs") %>

<div class="container">
    <div class="card mt-4">
        <div class="card-header"><h2>Edição de artigo</h2></div>
        <div class="card-body">
            <form method="POST" action="/articles/save">
                <input class="form-control mb-2" type="text" name="title" placeholder="Título do artigo" value="<%= article.title %>">
                <textarea class="form-control" placeholder="Escreva seu artigo..." name="body" id="article" cols="30" rows="10"><%= article.body %></textarea>
                <label class="mt-4">Categoria</label>
                <select name="category" class="form-control mt-2">
                    <% categories.forEach((category) => { %>
                        <% if(category.id == article.categoryId) { %>
                            <option value="<%= category.id %>" selected><%= category.title %></option>
                        <% }else { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>
                    <% }) %>
                </select>
                <button class="btn btn-primary mt-2">Salvar</button>
            </form>
        </div>
    </div>
</div>

<%- include("../../partials/footer.ejs") %>

<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            "advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime midia save table paste emoticons"
        ],
        language: "pt_BR"
    });
</script>