<%- include("../../partials/header.ejs") %>
<%- include("../../partials/nav.ejs") %>

<div class="container">
    <div class="d-flex justify-content-between mt-4">
        <h3>Usuários</h3>
        <a class="btn btn-primary" href="/admin/users/create">Adicionar</a>
    </div>
    <hr>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => {%>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer.ejs") %>